* {
	margin: 0;
	padding: 0;
}
body {
	color: #404040;
	background-image: linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -o-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -moz-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -webkit-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -ms-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0.18, rgb(139,137,137)),
	color-stop(0.59, rgb(207,207,207)),
	color-stop(0.8, rgb(214,214,214))
	);
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

a {
	color: #404040;
	text-decoration: none;
}

a:hover {
	color: #00CCFF;
}

br.clear {
	clear: both;
}

#bg {
	overflow: hidden;
	margin-bottom: 91px;
}

#maincontent {
	width: 1000px;
	margin: 0;
}

#copyright {
	text-align: center;
	padding: 8px 0 20px 0;
	color: #404040;
	text-shadow: 0 1px 0 #101010;
	background-color: #222222;
	width: 100%;
	bottom: 0px;
}

#copyright a {
	color: #404040;
}

#header {
	position: relative;
	padding: 32px;
	height: 60px;
	background-color: #222222;
	border-radius: 25px;
}

#logo {
	position: absolute;
	top: 32px;
	right: 100px;
	height: 130px;
	line-height: 130px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

#logo a:hover {
	color: #00CCFF;
}

#logo h1 {
	font-size: 3em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#main {
	position: relative;
	padding: 20px 32px 24px 32px;
	width: 1116px;
}

#main ul {
	list-style: none;
}

#nav {
	position: absolute;
	height: 50px;
	line-height: 50px;
	top: 75px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.4em;
	padding: 0 1em 0 1em;
}

#nav a {
	text-decoration: none;
	color: #ffffff;
}

#nav a:hover {
	color: #00CCFF;
}

#nav li {
	margin: 0 1em 0 1em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

#megalogo {
	width: 400px;
	height: auto;
}
#header_background {
	overflow: hidden;
	z-index: -100;
	height: 114px;
	width: 100%;
	background-color: #222222;
	position: absolute;
}

textarea#editor {
	border: 2px solid #CCCCCC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
	width: 100%;
	height: 300px;
}

#left_container {
	position: relative;
	float: left;
	margin-right: 30px;
	width: 30%;
}
#right_container {
	position: relative;
	float: left;
	width: 67%;
}

.box {
	background-color: #ffffff;
	color: #222222;
	height: 400px;
	left: 99%;
	padding: 10px;
	position: absolute;
	top: 85px;
	width: 300px;
	z-index: 10001;
	border: 5px solid #888888;
	border-radius: 10px;
	-moz-border-radius: 10px;
	margin-top: 40px;
}

.overlay {
	background: #000000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
	opacity: 0.5;
}

a.boxclose {
	background: url("right2.png") repeat scroll left top transparent;
	cursor: pointer;
	float: right;
	position: relative;
	height: 26px;
	left: 20px;
	top: -20px;
	width: 26px;
}

a.boxopen {
	background: url("left2.png") repeat scroll left top transparent;
	cursor: pointer;
	float: left;
	height: 26px;
	left: -25px;
	position: relative;
	top: -20px;
	width: 26px;
}

.button {
	position: relative;
	background-color: #222222;
	border-style: none;
	color: #bfbfbf;
	float: left;
	margin-right: 10px;
	margin-top: 40px;
	height: 6%;
	width: 15%;
	font-size: 16px;
}

.button[type="submit"]:hover {
	border-style: none;
	color: #ffffff;
}

.docviewer {
	position: relative;
	float: left;
	background-color: #ffffff;
	border-style: solid;
	border-color: #CCCCCC;
	border-radius: 10px;
	height: 300px;
	width: 300px;
	overflow-y: scroll;
}

.docviewer a {
	display: block;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
	line-height: 30px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	padding-left: 10px;
	cursor: pointer;
	margin-top: 5px;
}

.docviewer a:hover, #chat_viewport > ul > li:hover {
	color: #CCCCCC;
	background-color: #222222;
	border: 1px solid transparent;
	border-radius: 5px;
}

#undoButton, #redoButton, #saveButton, #createButton, #refreshButton {
	position: relative;
	background-color: #222222;
	border-style: solid;
	border-color: #222222;
	border-radius: 5px;
	color: #8b8989;
}

.bottom-container-right {
	position: relative;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	max-width: 70%;
}

.bottom-container-left {
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 300px;
	display: inline;
}

.bottom-container-left > form {
	width: 120px;
	display: inline;
}

.ball {
	background-color: rgba(0,0,0,0);
	border: 5px solid rgba(0,183,229,0.9);
	opacity: .9;
	border-top: 5px solid rgba(0,0,0,0);
	border-left: 5px solid rgba(0,0,0,0);
	border-radius: 50px;
	box-shadow: 0 0 35px #2187e7;
	width: 50px;
	height: 50px;
	margin: auto;
	margin-top: 105px;
	-moz-animation: spin .5s infinite linear;
	-webkit-animation: spin .5s infinite linear;
}

.ball1 {
	background-color: rgba(0,0,0,0);
	border: 5px solid rgba(0,183,229,0.9);
	opacity: .9;
	border-top: 5px solid rgba(0,0,0,0);
	border-left: 5px solid rgba(0,0,0,0);
	border-radius: 50px;
	box-shadow: 0 0 15px #2187e7;
	width: 30px;
	height: 30px;
	margin: auto;
	position: relative;
	top: -50px;
	-moz-animation: spinoff .5s infinite linear;
	-webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
0% { -moz-transform:rotate(0deg); }
100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
0% { -moz-transform:rotate(0deg); }
100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}

.content {
	background: #161616 url(pattern_40.gif) top left repeat;
	border-style: solid;
	border-color: #161616;
	border-radius: 7px;
	width: 98%;
	height: 98%;
}

/*chat styles */
#chat_content {
	height: 80%;
	width: 100%;
	overflow-y: scroll;
}

#chat_viewport {
	min-height: 400px;
	margin-top: 5px;
	word-wrap: break-word;
	padding-right: 3px;
}

input#chat_message {
	width: 98%;
	margin-top: 2px;
}

.by_current_user {
	color: #00CCFF;
}
#chat_viewport > ul > li.by_current_user:hover {
	color: #00CCFF;
	background-color: #222222;
	border: 1px solid transparent;
	border-radius: 5px;
}
h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: #00CCFF;
}

p.message_content {
	font-size: 20px;
	margin-bottom: 3px;
}
