* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #8b8989;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
}

a {
	color: #404040;
	text-decoration: none;
}

a:hover {
	font-size: 20pt;
}

br.clear {
	clear: both;
}

#bg {
	overflow: hidden;
}

#maincontent {
	width: 1000px;
	margin: 0;
}

#copyright {
	position: relative;
	text-align: center;
	padding: 8px 0 20px 0;
	color: #404040;
	text-shadow: 0 1px 0 #101010;
	background-color: #222222;
}

#copyright a {
	color: #404040;
}

#header {
	position: relative;
	padding: 32px;
	height: 60px;
	background-color: #222222;
	border-radius: 25px;
}

#logo {
	position: absolute;
	top: 32px;
	right: 100px;
	height: 130px;
	line-height: 130px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 2px 2px #000000;
}

#logo h1 {
	font-size: 3em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#main {
	position: relative;
	padding: 20px 32px 24px 32px;
	width: 1116px;
}

#main ul {
	list-style: none;
}

#nav {
	position: absolute;
	height: 50px;
	line-height: 50px;
	top: 75px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.4em;
	padding: 0 1em 0 1em;
}

#nav a {
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 2px 1px #3F1C1C;
}

#nav li {
	margin: 0 1em 0 1em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto 0 auto;
	overflow: hidden;
}

#megalogo {
	width: 400px;
	height: auto;
}
#header_background {
	overflow: hidden;
	z-index: -100;
	height: 114px;
	width: 100%;
	background-color: #222222;
	position: absolute;
}

textarea#editor {
	border: 2px solid #CCCCCC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	-webkit-box-shadow: 10px 10px 5px #888888;
	-moz-box-shadow: 10px 10px 5px #888888;
	width: 100%;
	height: 300px;
}

#left_container {
	position: relative;
	float: left;
	margin-right: 30px;
	width: 30%;
}
#right_container {
	position: relative;
	float: left;
	width: 67%;
}

.box {
	position: absolute;
	background-color: #ffffff;
	color: #222222;
	height: 70%;
	left: 99%;
	padding: 10px;
	right: 30%;
	top: 13%;
	width: 300px;
	z-index: 10001;
	border: 5px solid #888888;
	border-radius: 10px;
	-moz-border-radius: 10px;
	margin-top: 50px;
}

#chat_content {
	width: 100%;
	height: 90%;
	overflow: scroll;
}

#chat_content > ul {
	list-style: none;
	margin-left: -10px;
}

#chat_content > ul > li {
	margin-top: 5px;
}

#chat_content > ul > li > a {
	cursor: pointer;
	font-size: 12px;
	text-decoration: none;
}

#chat_content > ul > li > a:hover {
	cursor: pointer;
	font-size: 12px;
}

.overlay {
	background: #000000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
	opacity: 0.5;
}

a.boxclose {
	background: url("right2.png") repeat scroll left top transparent;
	cursor: pointer;
	float: right;
	position: relative;
	height: 26px;
	left: 30px;
	top: -33px;
	width: 26px;
}

a.boxopen {
	background: url("left2.png") repeat scroll left top transparent;
	cursor: pointer;
	float: left;
	height: 26px;
	left: -33px;
	position: relative;
	top: -33px;
	width: 26px;
}

.button {
	position: relative;
	background-color: #222222;
	border-style: none;
	color: #bfbfbf;
	float: left;
	margin-right: 10px;
	margin-top: 40px;
	height: 6%;
	width: 15%;
	font-size: 16px;
}

.button[type="submit"]:hover {
	border-style: none;
	color: #ffffff;
}

.docviewer {
	position: relative;
	float: left;
	background-color: transparent;
	border-style: solid;
	border-color: #222222;
	border-radius: 7px;
	overflow: scroll;
	max-height: 60%;
}

.docviewer a {
	color: #222222;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.docviewer p {
	color: #222222;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

#undoButton, #redoButton, #saveButton, #createButton, #refreshButton {
	position: relative;
	background-color: #222222;
	border-style: solid;
	border-color: #222222;
	border-radius: 5px;
	color: #8b8989;
}

.bottom-container-right {
	position: relative;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	max-width: 70%;
}

.bottom-container-left {
	position: relative;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	max-width: 25%;
}

.ball {
	background-color: rgba(0,0,0,0);
	border: 5px solid rgba(0,183,229,0.9);
	opacity: .9;
	border-top: 5px solid rgba(0,0,0,0);
	border-left: 5px solid rgba(0,0,0,0);
	border-radius: 50px;
	box-shadow: 0 0 35px #2187e7;
	width: 50px;
	height: 50px;
	margin: auto;
	margin-top: 175px;
	-moz-animation: spin .5s infinite linear;
	-webkit-animation: spin .5s infinite linear;
}

.ball1 {
	background-color: rgba(0,0,0,0);
	border: 5px solid rgba(0,183,229,0.9);
	opacity: .9;
	border-top: 5px solid rgba(0,0,0,0);
	border-left: 5px solid rgba(0,0,0,0);
	border-radius: 50px;
	box-shadow: 0 0 15px #2187e7;
	width: 30px;
	height: 30px;
	margin: auto;
	position: relative;
	top: -50px;
	-moz-animation: spinoff .5s infinite linear;
	-webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
0% { -moz-transform:rotate(0deg); }
100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
0% { -moz-transform:rotate(0deg); }
100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(-360deg); }
}

.content {
	background: #161616 url(pattern_40.gif) top left repeat;
	border-style: solid;
	border-color: #161616;
	border-radius: 7px;
	width: 200px;
}

