* {
	margin: 0;
	padding: 0;
}

a {
	color: #404040;
	text-decoration: none;
}

a:hover {
	font-size: 20pt;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	
	color: #404040;
	background-image: linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -o-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -moz-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -webkit-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -ms-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0.18, rgb(139,137,137)),
	color-stop(0.59, rgb(207,207,207)),
	color-stop(0.8, rgb(214,214,214))
	);
}

br.clear {
	clear: both;
}

#banner {
	background: #ffffff;
}

#content {
	width: 556px;
	padding: 0;
}

#copyright {
	position:relative;
	text-align: center;
	padding: 8px 0 20px 0;
	color: #404040;
	text-shadow: 0 1px 0 #101010;
	background-color: #222222;
}

#copyright a {
	color: #404040;
}

#header {
	position: relative;
	padding: 32px;
	height: 60px;
	background-color: #222222;
	border-radius: 25px;
}

#logo {
	position: absolute;
	top: 32px;
	right: 100px;
	height: 130px;
	line-height: 130px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 2px 2px #000000;
}

#logo h1 {
	font-size: 3em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#main {
	position: relative;
	padding: 64px 32px 24px 32px;
	width: 1116px;
}

#main ul {
	list-style: none;
}

#nav {
	position: absolute;
	height: 50px;
	line-height: 50px;
	top: 75px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.4em;
	padding: 0 1em 0 1em;
}

#nav a {
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 2px 1px #3F1C1C;
}

#nav li {
	margin: 0 1em 0 1em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 0 auto 0 auto;
}

#sidebar2 {
	width: 510px;
	float: right;
	padding: 0;
}

#megalogo {
	width: 400px;
	height: auto;
}
#header_background{
	overflow: hidden;
	z-index: -100;
	height: 114px;
	width: 100%;
	background-color: #222222;
	position:absolute;
}
#footer_background{
	overflow: hidden;
	z-index: -1000;
	height: 46px;
	width: 100%;
	background-color: #222222;
	position:absolute;
}
#login_form, #register_form {
	position: relative;
	width: 25%;
	background: transparent;
	margin-top: 4%;
	margin-left: 10%;
	margin-bottom: 50px;
	padding: 1em;
}

input[type=text], input[type=password] {
	display: block;
	margin: 0 0 1em 0;
	width: 270px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 1em;
}

input[type=submit] {
	font-family: "Copperplate Gothic Light";
	border: none;
	position: relative;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #00CCFF;
	color: white;
	width: 300px;
}

input[type=text]:focus, input[type=password]:focus {
	outline: none;
	box-shadow: 0px 0px 0px 2pt #00CCFF;
}
input[type=submit]:hover, form a:hover {
	background: #0099FF;
	width: 300px;
}
#exists,#exists_email{
	background-image: url('x.png');
	background-size:100%;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	visibility:hidden;	
}
.error {
	color: #393939;
	font-size: 15px;
}