body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
	background-image: linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -o-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -moz-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -webkit-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -ms-linear-gradient(left , rgb(139,137,137) 18%, rgb(207,207,207) 59%, rgb(214,214,214) 80%);
	background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0.18, rgb(139,137,137)),
	color-stop(0.59, rgb(207,207,207)),
	color-stop(0.8, rgb(214,214,214))
	);
}

#headerTitle {
	float: right;
	position: relative;
	font-weight: bold;
	color: #bfbfbf;
	font-size: 45px;
	text-decoration: none;
	margin-right: 3%;
	margin-top: 25px;
}

#headerTitle:hover{
	color:#FFFFFF;
}

.topbar {
	position: relative;
	height: 90px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	overflow: visible;
	background-color: #222222;
}

.topbar h1 {
	float: right;
	position: relative;
	font-weight: bold;
	color: #bfbfbf;
	font-size: 40px;
	margin-right: 3%;
	margin-top: 20px;
}

.top-container {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
	margin-top: 10px;
}

.button {
	position: relative;
	background-color: #222222;
	border-style: none;
	color: #bfbfbf;
	float: left;
	margin-right: 10px;
	margin-top: 40px;
	height: 6%;
	width: 15%;
	font-size: 16px;
}

.button[type="submit"]:hover {
	border-style: none;
	color: #ffffff;
}
div#content {
	position: relative;
}
div#main_content {
	position: relative;
	float: left;
	width: 60%;
	margin-top: 80px;
	display: block;
	vertical-align: middle;
}

div#logo {
	position: fixed;
	margin-top: 80px;
	margin-left: 60%;
	float: right;
	background-position: right;
	background-position-x: 50%;
	background-image: url('megalogo.png');
	background-repeat: no-repeat;
	background-size: 110%;
	height: 500px;
	width: 500px;
}
div#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #222222;
	z-index: 1000;
	color: #bfbfbf;
	text-align: center;
}

#left_textareas {
	float: left;
	margin-left: 40px;
}
#right_textareas {
	float: right;
	margin-right: 40px;
}
#login_form, #register_form {
	position: relative;
	width: 25%;
	background: transparent;
	/*margin-top: 50px;
	 margin-left: 250px;*/
	margin-top: 4%;
	margin-left: 30%;
	margin-bottom: 50px;
	padding: 1em;
}

.textareaLogin {
	font-family: "Book Antiqua";
	display: block;
	margin-bottom: 100px;
	resize: none;
	width: 300px;
	height: 100px;
	border-color: #484848;
	border-width: 3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

input[type=text], input[type=password] {
	display: block;
	margin: 0 0 1em 0;
	width: 270px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 1em;
}

input[type=submit], form a {
	font-family: "Copperplate Gothic Light";
	border: none;
	position: relative;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #00CCFF;
	color: white;
	width: 300px;
}

input[type=text]:focus, input[type=password]:focus {
	outline: none;
	box-shadow: 0px 0px 0px 2pt #00CCFF;
}
input[type=submit]:hover, form a:hover {
	background: #0099FF;
	width: 300px;
}
.error {
	color: #393939;
	font-size: 15px;
}

footer {
	margin-top: 20px;
}